@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Tiny5&display=swap');

:root{
    --fuenteInter: "Inter", sans-serif;
    --fuente2: "Tiny5", sans-serif;
    --fuente3: "Cute Font", sans-serif;
    --colorFondoMain: #E5E5E5;
    --colorDarkBlue:  darkblue; 
    --colorWhite: white;
    --colorbeich: #D8DFE8; 
}

* {
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--colorFondoMain);
    color: var(--colorDarkBlue);
}

main{
    display: flex;
    /*padding: 40px 240px;*/
    padding: 2.5% 10%;
    justify-content: space-between;
    align-items: center;
}

.subcontenedoruno{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    /*width: 1280px;*/
    width: 40em;
    /*height: 944px;*/
    height: 29.5em;
    background-color: var(--colorFondoMain);
    border-radius: 1em;
    /*gap:32px;*/
    gap: 0.5em;

}

.contenedor_uno_title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    /*height: 100px;*/
    height: 3.125em;
    /*padding-top: 30px;*/
    padding-top: 0.01em;
    /*padding-left: 20px;*/
    padding-left: 1em;
}

h1{
    font-family: var(--fuente2);
    /*font-size:70px;*/
    font-size: 2.1875em ;
    
}
.contenedor_uno_input{
    display: flex;
    flex-direction: column;
    font-family: var(--fuenteInter);
    /*font-size: 32px;*/
    font-size: 2em;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    /*padding-left: 240px;*/
    padding-left: 3.75em;
}

textarea{
    /*width: 1000px;*/
    width: 31.1em;
    /*height: 588px;*/
    height: 18em;
    background-color: var(--colorFondoMain);
    border: none;
    font-family: var(--fuente3);
    /*font-size: 32px;*/
    font-size: 0.5em ;
    font-weight: 400;
}

.mensajealerta{
    display: flex;
    flex-direction: row;
    /*gap:16px;*/
    gap: 0.5em;
    /*padding-left: 260px;*/
    padding-left: 8.125em;
}

.imagen{
    /*width: 16px;*/
    width: 0.5em;
    /*height: 16px;*/
    height: 0.5em;
}
.contenedorb{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;  
    /*padding-bottom: 32px;*/
    padding-bottom: 0.5em;
}

.uno{
    /*padding-left: 240px;*/
    padding-left: 7.5em;
}

.boton{
    /*width: 328px;*/
    width: 16em;
    /*height: 67px;*/
    height: 3.3em;
    border: solid var(--colorDarkBlue) 0.1em;
    border-radius: 1.1em;
    font-family: var(--fuente2);
    /*font-size: 20px;*/
    font-size: 0.6255em;
    font-weight: 400; 
    
}

.one{
    background-color: var(--colorDarkBlue);
    color: var(--colorWhite);
}

.two, .three{
    background-color: var(--colorbeich);
    color: var(--colorDarkBlue);
}

.contenedor_dos{
    /*padding: 40px;*/
    padding: 1.25em;
}

.subcontenedordos{
    display: flex;
    flex-direction: column;
    /*width: 400px;*/
    width: 12.5em;
    /*height: 944px;*/
    height: 29.5em;
    background-color: var(--colorWhite);
    border-radius: 1em;
    justify-content:center;
    align-items: center  ;
    /*gap: 32px;*/
    gap:1.5em;
    /*padding-top: 24px;*/
    padding-top: 10 em;
}

.contenedor_dos_output{
    display: flex;
    flex-direction: column;
    /*width: 336px;*/
    width: 10.5em;
    /*height: 781px;*/
    height: 24.405em;
    justify-content: center;
    align-items: center;  
    /*gap:16px;*/
    gap: 0.8em;
}

.image{
    width: 11em;
    height: 11em;
}

h3{
    font-family: var(--fuente2);
    /*font-size: 27px;*/
    font-size: 0.84em;
    text-wrap:wrap;
    text-align: center;
}

p{
    font-family: var(--fuenteInter);
    /*font-size: 16px;*/
    font-size: 0.5em;
    font-weight: 400;
    text-align: center;
}


footer{
    display: flex;
    /*padding: 40px;*/
    padding: 1.2%;
    justify-content: center;
    align-items: center;
    background-color: var(--colorDarkBlue);
}

.footer{
    font-family: var(--fuenteInter);
    /*font-size: 20px;*/
    font-size: 0.625em;
    color: var(--colorWhite);
}